#website {
    max-width: 1200px;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.logo img {
    height: 100px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.banner{
    width: 100%;
    height: 100%;
    background-image: url(img/DALL·E\ 2025-01-29\ 13.25.45\ -\ A\ futuristic\ neon\ blue\ banner\ with\ intricate\ glowing\ textures\ and\ a\ dark\ abstract\ background.\ The\ design\ features\ sharp\,\ cyberpunk-style\ edges\,\ with\ a.webp)
    background-size: cover;
    background-position: center;
}

.banner-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

.banner-text h1{
    font-size: 48px;
    font-weight: bold;
}

.banner-text p{
    font-size: 24px;
}